<p>
  <label>Your Gitlab Website URL:</label>
  <%= text_field_tag 'settings[site]', Setting.plugin_redmine_omniauth_gitlab['site'] %>
</p>
<p>
  <label>Client ID:</label>
  <%= text_field_tag 'settings[client_id]', Setting.plugin_redmine_omniauth_gitlab['client_id'] %>
</p>
<p>
  <label>Client Secret:</label>
  <%= text_field_tag 'settings[client_secret]', Setting.plugin_redmine_omniauth_gitlab['client_secret'] %>
</p>
<p>
  <label>Available domains</label>
  <%= text_area_tag "settings[allowed_domains]", Setting.plugin_redmine_omniauth_gitlab['allowed_domains'], :rows => 5 %>
</p>
<p>
  <label>Oauth authentification:</label>
  <%= check_box_tag "settings[oauth_authentification]", true, Setting.plugin_redmine_omniauth_gitlab['oauth_authentification'] %>
</p>
